* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

[class*="__container"] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0px 15px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-image: url(JSBACK.png);
  max-width: 100%;
  background-attachment: fixed;
}

.tasks__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 36px;
    gap: 36px;
}

h1{
    font-size: 36px;
    text-align: center;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}


li{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 32px;
    padding: 12px 120px ;
    border: 2px solid;
    border-radius: 20px;
    font-size: 24px;
    background-color: rgb(221, 182, 182);
}

li:hover{
    transition-duration: 0.5s;
    background-color: transparent;
    transform: scale(1.03);
    cursor: pointer;
}
a{
    font-size: 18px;
    color: black;
}
a:hover{
    color: rgb(231, 226, 226);
    transition-duration: 0.3s;
}